body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f6f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 500px; /* Увеличена ширина */
    background: #fff;
    padding: 30px; /* Увеличены внутренние отступы */
    border-radius: 10px; /* Чуть более скругленные углы */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15); /* Более заметная тень */
    text-align: center;
}

h2 {
    font-size: 22px; /* Чуть больше шрифт заголовка */
    color: #333;
    margin-bottom: 25px;
}

.confirm-form {
    margin-top: 25px;
}

.form-field {
    margin-bottom: 25px; /* Увеличен отступ между полями */
    text-align: left;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 15px; /* Чуть крупнее шрифт метки */
    color: #555;
}

input[type="password"] {
    width: 95%;
    padding: 12px; /* Увеличена высота поля ввода */
    border: 1px solid #ccc;
    border-radius: 8px; /* Более скругленные углы */
    font-size: 16px; /* Увеличен размер шрифта в поле ввода */
    background-color: #f7f9fc;
}

.confirm-btn {
    width: 100%;
    padding: 12px; /* Увеличена высота кнопки */
    background-color: #4680c2;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 18px; /* Увеличен размер текста кнопки */
    cursor: pointer;
}

.confirm-btn:hover {
    background-color: #326fa2;
}

.error-message {
    margin-top: 25px;
    color: red;
    font-size: 15px; /* Чуть крупнее шрифт сообщения об ошибке */
}
